.App {
  text-align: center;
}

body {
  margin: 0%;
  padding:0%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container{
  width: 100%;
  padding: 0%;
}

/* dashboard */
.dashboard{
  width: 100%;
  padding-left: 0%;
  padding-right: 0%;
}

/* input new CallList */
.newCallListInputGroup{
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}

.newCallListInput{
  display: flex;
  justify-content: center;
  padding-top: 80px;
  
}

.newCallListTitleInput{
  margin-right: 2px;
  margin-top: 15px;
  vertical-align: middle;
}

.newCallListDescriptionInput{
  margin-right: 2px;
  margin-top: 15px;
  vertical-align: middle;
}

.addNewCallListTitle{
  margin: 0 auto;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.saveCallListBtn{
  margin-top: 15px;
}

/* CallList Card */

.callListContainer{
  display: flex;
  justify-content: space-around;
}

.callListDeleteBtn{
  margin-left: 2px;
}

.callListCard{
  margin-top: 1px;
  margin-bottom: 1px;
  margin-right: 1px;
  margin-left: 1px;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
