.leftMenu {
    background-color: #57B1B0;
}

.rightSideDashboard {
    background-color: #C4C4C4;
}

.btn-success {
    background-color: #57B1B0;
}
.bg-image{
    background-color: #57B1B0;
}
.btn-success{
    color: white;
    
}
